.overall-container {
  position: relative;
}

.patient-info-container {
  /* background-color: aqua; */
}

.list-container {
  background: linear-gradient(rgb(255, 235, 239), rgb(255, 255, 255));
}

.list-container > .appbar {
  /* background-color: rgb(255, 235, 239); */
  background-color: white;
}

.list-container > .appbar > .toolbar {
  display: flex;
  justify-content: space-between;
  color: black;
}
.appbar > div > h1 {
  font-size: var(--font-size-lg) !important;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.list-content {
  margin: 1em 0em;
}

.list-item {
  border: solid black 1px;
  border-radius: 0.4em;
  padding: 1em;
  background-color: white;
}
/* 


****************************** laptop - monitor Resource Container ******************************


*/

.recommended-resources-container-laptop-monitor {
}

.resource-list-laptop-monitor {
  border-top: solid 1px black;
}

.list-laptop-monitor {
  border-right: solid 1px black;
  padding: 1em 1em 0em 1em;
}

.list-item-laptop-monitor {
  padding: 0.5em 1em;
  cursor: pointer;
}

.list-item-laptop-monitor:hover {
  background-color: rgb(236, 236, 236);
}

.list-item-title-laptop-monitor {
  padding: 0.5em 1em 0.6em 1em;
  border-bottom: solid 1px black;
}

.list-item-title-laptop-monitor:hover {
  background-color: rgb(236, 236, 236);
}

.list-button-laptop-monitor {
  color: black !important;
  font-size: 0.9em !important;
  font-weight: 400 !important;
  text-align: start;
  padding: 0em !important;
  margin: 0em !important;
  justify-content: start !important;
}

.resource-category-container-laptop-monitor {
  padding: 0.5em;
}

.resource-category-title-laptop-monitor {
  font-size: 1.5em;
  border-bottom: solid 1px black;
  padding: 0.4em;
}

.resource-info-container-laptop-monitor {
  background: rgb(255, 235, 239, 0.7);
  margin: 0.5em 0em !important;
  border-radius: 0.3em;
}

.resource-info {
}
