.overall-container {
  position: relative;
}

.patient-info-container {
  /* background-color: aqua; */
}

/* 


****************************** Mobile - Tablet Resource Container ******************************


*/

.quote-one {
  font-size: 1.75em;
  text-align: center;
  margin: 1em 1em;
}

.recommended-resources-container-mobile-tablet {
  margin: 0.5em 0em;
}

.resource-list-inactive {
  background-color: rgb(255, 249, 250) !important;
  /* background: linear-gradient(rgb(255, 235, 239), rgb(255, 255, 255)) !important; */
  /* background: aqua !important; */
  transition: all ease 1s;
}

.resource-list-active {
  background: linear-gradient( 0.25turn, rgb(255, 235, 239), rgb(255, 249, 250)) !important;
  box-shadow: 0px 0 .1em black, -0em 0em .1em black;
  transition: all ease 1s;
}

.resource-list-mobile-tablet {
  /* border-top: solid 1px black; */
}

.list-item-mobile-tablet {
  padding: 0.5em 1em;
  cursor: pointer;
}

.list-item-mobile-tablet:hover {
  background-color: rgb(236, 236, 236);
}

.list-button-mobile-tablet {
  color: black !important;
  font-size: 0.9em !important;
  font-weight: 400 !important;
  text-align: start;
  padding: 0em !important;
  margin: 0em !important;
  justify-content: start !important;
}

.resource-category-container-mobile-tablet {
  padding: 0.5em;
}

.resource-category-title-mobile-tablet {
  font-size: 1.5em;
  border-bottom: solid 1px black;
  padding: 0.4em;
}

.resource-info-container-mobile-tablet {
  background: rgb(255, 235, 239, 0.7);
  margin: 0.5em 0em !important;
  border-radius: 0.3em;
}

.resource-info {
}

/* 
*************** Vaccine Container ***************
*/
.recommended-vaccines-container {

}

.vaccines-list {
  /* border-top: solid 1px black; */
 /* padding: 0em !important; */
}

.vaccines-list-item {
  padding: .5em 1em;
}

.vaccines-list-item > a {
  text-decoration: none;
  color: black;
}

.hero-container {
  margin: 2em 0em 0em 0em;
}

.image-general-formmat {
  object-fit: contain;
  width: 100vw;
}

/* 


****************************** laptop - monitor Resource Container ******************************


*/

.recommended-resources-container-laptop-monitor {
}

.resource-list-laptop-monitor {
  border-top: solid 1px black;
}

.list-laptop-monitor {
  border-right: solid 1px black;
  padding: 1em 1em 0em 1em;
}

.list-item-laptop-monitor {
  padding: 0.5em 1em;
  cursor: pointer;
}

.list-item-laptop-monitor:hover {
  background-color: rgb(236, 236, 236);
}

.list-item-title-laptop-monitor {
  padding: 0.5em 1em 0.6em 1em;
  border-bottom: solid 1px black;
}

.list-item-title-laptop-monitor:hover {
  background-color: rgb(236, 236, 236);
}

.list-button-laptop-monitor {
  color: black !important;
  font-size: 0.9em !important;
  font-weight: 400 !important;
  text-align: start;
  padding: 0em !important;
  margin: 0em !important;
  justify-content: start !important;
}

.resource-category-container-laptop-monitor {
  padding: 0.5em;
}

.resource-category-title-laptop-monitor {
  font-size: 1.5em;
  border-bottom: solid 1px black;
  padding: 0.4em;
}

.resource-info-container-laptop-monitor {
  background: rgb(255, 235, 239, 0.7);
  margin: 0.5em 0em !important;
  border-radius: 0.3em;
}

.resource-info {
}


