.text-xs {
  font-size: 1rem;
}

.text-s {
  font-size: 1.15rem;
}

.text-sm {
  font-size: 1.33rem;
}

.text-m {
  font-size: 1.77rem;
}

.text-lg {
  font-size: 2.369rem;
}

.text-xl {
  font-size: 3.157rem;
}

.text-xxl {
  font-size: 4.209rem;
}

.aHealth-sm {
  font-size: 1.2rem;
}

/* .text-sm-sm {
    font-size: .8rem;
}

.text-sm-m {
    font-size: 1rem;
}

.text-sm-lg {
    font-size: 1.2rem;
}

.text-m-sm {
    font-size: 1rem;
}

.text-m-m {
    font-size: 1rem;
}

.text-m-lg {
    font-size: 1.8rem;
}

.text-standard {
    font-size: 2rem;
}

.text-lg-sm {
    font-size: 2.3rem;
}

.text-lg-m {
    font-size: 2.6rem;
}

.text-lg-lg {
    font-size: 3rem;
}

.text-xl-sm {
    font-size: 3.2rem;
}

.text-xl-m {
    font-size: 3.4rem;
}

.text-xl-lg {
    font-size: 3.7rem;
}

.text-xxl-sm {
    font-size: 3.9rem;
}

.text-xxl-m {
    font-size: 4.2rem;
}

.text-xxl-lg {
    font-size: 4.5rem;
} */

/* 
========================================
FONTs
========================================

font-family: 'Actor', sans-serif;
font-family: 'Akshar', sans-serif;
font-family: 'Alata', sans-serif;
font-family: 'Amaranth', sans-serif;
font-family: 'Anton', sans-serif;
font-family: 'Asap Condensed', sans-serif;
font-family: 'Basic', sans-serif;
font-family: 'Baskervville', serif;
font-family: 'Black Han Sans', sans-serif;
font-family: 'Carter One', cursive;
font-family: 'Changa One', cursive;
font-family: 'Commissioner', sans-serif;
font-family: 'Cousine', monospace;
font-family: 'DM Serif Text', serif;
font-family: 'El Messiri', sans-serif;
font-family: 'Faustina', serif;
font-family: 'Fredoka', sans-serif;
font-family: 'Fugaz One', cursive;
font-family: 'Gentium Book Basic', serif;
font-family: 'Lalezar', cursive;
font-family: 'Lato', sans-serif;
font-family: 'Lexend Deca', sans-serif;
font-family: 'Lilita One', cursive;
font-family: 'Mulish', sans-serif;
font-family: 'Noto Sans JP', sans-serif;
font-family: 'Noto Serif', serif;
font-family: 'Oswald', sans-serif;
font-family: 'Passion One', cursive;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Sansita', sans-serif;
font-family: 'Sen', sans-serif;
font-family: 'Shrikhand', cursive;
font-family: 'Staatliches', cursive;
font-family: 'Viga', sans-serif;
font-family: 'Volkhov', serif;
font-family: 'Work Sans', sans-serif;
font-family: 'Yanone Kaffeesatz', sans-serif; 

*/
