.container {
  margin: 0em calc(100vw / 4);
}

.title {
  font-size: var(--font-size-lg) !important;
  text-align: center;
}

.photo-container-one {
  /* display: flex;
  justify-content: center; */
}

.image-general-format {
  object-fit: contain;
  width: 100vw;
}

.desktop-image-format {
  object-fit: contain;
  max-width: 100%;
}

.provider-container {
  position: relative;
  height: 1450px;
}

.provider {
  display: flex;
  transition: all 1s ease;
  position: absolute;
}

.provider::after {
  display: block;
  height: 100%;
  content: '';
}

.tab-panel-text-formatting {
  /* padding: 1em 2em !important; */
  /* width: 75%; */
}

.provider-one {
  font-size: 1.75em;
  padding: 0.5em 0em 1em 0em !important;
}

.provider-one-paragraph {
  padding: 0.5em 0em;
}

/* Animation Classes */

.active {
  opacity: 1;
  transform: translate(0%);
}

.inactive-right {
  opacity: 0;
  transform: translate(100%);
}

.inactive-left {
  opacity: 0;
  transform: translate(-100%);
}

.show {
  display: inherit;
}

.hide {
  display: none;
}

@media only screen and (max-width: 1675px) {
  .container {
    margin: 0em calc(100vw / 10);
  }

  /* .tab-panel-container {
    display: flex;
    flex-direction: column;
  }

  .tab-panel-text-formatting {
    padding: 1em 0em !important;
    width: 100%;
  } */
}
