.athena-link-container {
  /* background-color: rgb(100, 60, 169);
  background: rgb(255, 235, 239); */
  background: linear-gradient(rgb(255, 235, 239), rgb(255, 255, 255), rgb(255, 255, 255));
}

.athena-link-grid-container {
  padding: 0em 0em 1em 0em;
  display: flex;
  justify-content: space-around;
}

.extra-padding {
  padding: 0em 0em 5em 0em;

}

.athena-link-grid-item {
  background-color: white;
  border: solid #4c2c84 1.5px;
  border-radius: 0.5em;
  margin: 0.5em 0em !important;
  padding: 0.5em;
}

.athena-link {
  text-decoration: none;
}

.athena-item {
  display: flex;
  align-items: center;
}

.athena-item>span {
  font-size: calc(100vw / 50);
  margin-top: calc(100vw / 800);
  color: #4c2c84;
  /* font-size: 1em; */
}

.athena-logo {
  width: calc(100vw / 7);
  object-fit: contain;
  padding: 0.5em 0em 0.5em 0.5em;
  padding-left: calc(100vw / 150);
  padding-right: calc(100vw / 150);
  background-color: white;
  border-radius: 0.3em;
}

@media only screen and (max-width: 1060px) {

  .athena-item>span {
    font-size: calc(100vw / 50);
  }

  .athena-logo {
    width: calc(100vw / 7);
    padding-right: calc(100vw / 150);

  }
}

@media only screen and (max-width: 900px) {

  .athena-item>span {
    font-size: calc(100vw / 50);
  }

  .athena-logo {
    width: calc(100vw / 7);
    padding-right: calc(100vw / 150);

  }
}

@media only screen and (max-width: 768px) {

  .athena-item>span {
    font-size: calc(100vw / 38);
  }

  .athena-logo {
    width: calc(100vw / 5.2);
    padding-right: calc(100vw / 150);

  }
}