/* 
  ==============================
  
  Default Nav Look Mobile
  
  ==============================
*/

.navBase {
    display: flex;
    align-items: center;
    padding: 1.5em 1.2em 1.2em 1.5em;
    background-color: white;
    position: relative;
  }
  
  .logoContainer {
  }
  
  .logo {
    border: solid 1px rgb(140, 100, 108);
    border-radius: 10em;
    padding: 0.1em;
    width: 3em;
    height: 3em;
  }
  
  /* 
    ==============================
      
    Conditional Brand Name
      
    ==============================
  */
  .mobileBrandName {
    padding: 0em 0em 0em 0.5em;
    overflow: hidden;
    height: 1em;
    flex-grow: 2;
  }
  
  /* Extras */
  
  .hide {
    display: none;
  }
  
  .show {
    display: block;
  }
  
  .flex {
    display: flex;
    align-items: center;
    /* padding: 1.5em 1.2em 1.2em 1.5em; */
    /* background-color: white; */
    position: relative;
    width: 100%;
  }
  
  /* 
    ==========================================================================================
    
    
    Media Query Ipad
    
    
    ==========================================================================================
  */
  
  @media screen and (min-width: 499) {
    .logoContainer {
      margin: 0em 4em 0em 0em;
    }
  
    .navBase {
      justify-content: space-between;
    }
  }
  
  @media screen and (min-width: 765px) {
    .logo {
      width: 3em;
      height: 3em;
    }
  
    .mobileBrandName {
    }
  }
  
  @media screen and (min-width: 1275px) {
    .logo {
      width: 4em;
      height: 4em;
    }
  
    .logoContainer {
      margin: 0em 0em 0em 2.3em;
    }
  
    .navBase {
      justify-content: space-between;
    }
  
    .linkDropdowns {
      display: flex;
      gap: 1em;
      margin: 0em 0em 0em 0em;
      padding: 0em 0em 0em 1.5em;
      /* justify-self: end; */
    }
  
    .mobileBrandName {
    }
  }